* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: poppins;
}

/* .topnavbar {
   background-color:  rgba(232, 46, 119, 1);
} */


/* Navbar starts here */
.nav_bar  {
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(232, 46, 119, 1);
    position: fixed;
    z-index: 5;
    top: 0;
    overflow: hidden;
}
.navbar {
    height: 100%;
    width: 100vw;
}
.proper_nav {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
}
.logo {
    height: 80px;
    width: 80px;
    overflow: hidden;
}
.nav_wala_ul {
    display: flex;
    justify-content: space-evenly;
    /* text-decoration: none; */
    align-items: center;
    width: 60%; 
    height: fit-content;
    padding: 10px 0;
    /* background-color: black; */
}
.nav_tag {
    text-decoration: none;
    color: rgba(255, 255, 255, 1)!important;
    margin-left: 50px;
}
.nav_tag:hover {
    color: rgb(34,40,49);
    text-decoration: underline;
    transition: all 300ms;
}
.nav_tag_footer {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
.nav_tag_footer:hover {
    color: rgb(34,40,49);
    text-decoration: underline;
    transition: all 300ms;
}
.menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
}
.responsive_nav {
    display: none;
}
/* Navbar ends here */
main {
    width: 100vw;
    background-color: rgba(255, 255, 255, 1);
    /* background-color: rgba(156, 127, 127, 1); */
    height: fit-content;
}
.cross {
    display: none;
}
.slide {
    height: 100vh;
    /* background-color: aqua; */
}
.edi {
    height: 100vh;
    width: 100vw;
    object-fit: contain;
}
.banner_pic {
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.about_us_div {
    height: 100vh;
    width: 100vw;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.wcus-2---1 {
    display: flex;
    height: 75vh;
    width: 86vw;
    /* background-color: black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.img_cont_about {
    height: 75%;
    width: 40%;
    /* background-color: burlywood; */
}
.details_cont_about {
    height: 75%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: rgb(53, 141, 192); */
}
.about_image {
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}
.about_heading {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    width: 80%;
}
.about_para {
    width: 80%;
    height: auto;
    font-size: 15px;
    text-align: center;
}

.why_choose_us {
    height: 100vh;
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    padding: 10vh 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.wcus-1 {
    height: 15vh;
    /* background-color: aquamarine; */
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.why_choose_us_heading {
    font-weight: bold;
}
.why_choose_us_para {
    color: rgba(128, 128, 128, 1);
}
.wcus-2 {
    display: flex;
    height: 75vh;
    width: 86vw;
    /* background-color: black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wcus_points_container {
    height: 60vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: wheat; */
}
.points {
    display: flex;
    height: 15vh;
    width: 90%;
    justify-content: space-between;
    /* background-color: aquamarine; */
    overflow: hidden;
}
.points-1 {
    height: 100%;
    width: 30%;
    /* background-color: blueviolet; */
}
h6 {
    overflow: hidden;
}
.points-icons {
    height: 50px;
    width: 50px;
    overflow: hidden;
}
.points_heading {
    font-weight: bold;
}
.points_para {
    font-size: 14px;
    font-weight: 300;
    color: rgba(128, 128, 128, 1);
}
.wcus_image_container {
    height: 60vh;
    width: 40vw;
    /* background-color: wheat; */
}
.wcus_image {
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}
/* Why choose us ends here */
.stories {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: burlywood; */
}
.stories-1 {
    height: 15vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
h3 {
    overflow: hidden;
}
.stories_para {
    height: fit-content;
    width: 70%;
    color: rgba(128, 128, 128, 1);
    text-align: center;
    overflow: hidden;
}
.stories-2 {
    display: flex;
    height: 70vh;
    width: 80vw;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: darkcyan; */
}
.card {
    background-color: rgba(245, 235, 235, 1);
}
.cardimg {
    height: 30vh;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}
/* CONTACT US */
.contact_us {
    height: 180vh;
    width: 100vw;
    /* height: fit-content; */
    /* min-height: 150vh; */
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: aqua; */
}
.contact_1 {
    height: 15vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: black; */
}
.contact_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.contact_3 {
    height: 15vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: black; */
}
.map {
    height: 40vh;
    width: 80vw;
    overflow: hidden;
}
.contact_4 {
    height: 90vh;
    width: 80vw;
    display: flex;
    /* background-color: blueviolet; */
}
.contact4_1 {
    height: 100%;
    width: 50%;
    /* background-color: salmon; */
}
.contact4_2 {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(156, 171, 142, 1);
    padding: 0 40px;
}
.form_container {
    height: fit-content;
    width: 80%;
}
.button_of_form {
    height: fit-content;
    width: 100%;
    padding: 5px 0;
    border-radius: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 1);
}
.frm {
    /* text-decoration: underline; */
    border-bottom: 2px solid white;
    color: rgba(255, 255, 255, 1);
}

.abcd {
    background-color: rgba(156, 171, 142, 1);
    border: none;
}
.contact_box_image {
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}
.contact_form_header {
    color: rgba(255, 255, 255, 1);
}
.contact_form_para {
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
input {
    color: rgba(255, 255, 255, 1);
}
/* .lable_hai {
    color: rgba(255,255,255,1);
} */

/* Footer */

footer {
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(232, 46, 119, 1);
}
.logoanddescptionbox {
    height: 40vh;
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /* background-color: aqua; */
}
.footer_logo {
    height: 110px;
    width: 110px;
    overflow: hidden;
}
.footer_para {
    width: 80%;
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
.quick {
    height: 40vh;
    width: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    /* background-color: aqua; */
}
.contact_footer {
    height: 40vh;
    width: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    /* background-color: aqua; */
}
.add_container {
    display: flex;
    height: 80%;
    width: 100%;
    /* background-color: antiquewhite; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.footer_header {
    font-size: 25px;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
}

.icon_img {
    height: 25px;
    width: 25px;
    overflow: hidden;
}
.sub_container {
    display: flex;
    height: fit-content;
    width: 100%;
    /* background-color: blue; */
    gap: 20px;
    /* justify-content: space-evenly;
    align-items: flex-start; */
}
.footer_para_address {
    width: 170px;
    text-align: start;
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
}
.fic {
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
}
.follow_footer {
    height: 40vh;
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /* background-color: aqua; */
}
.footer_para_description {
    text-align: center;
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
}
.sub_container_follow {
    display: flex;
    height: 80%;
    width: 100%;
    flex-direction: column;
}
.icon_circle {
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon_circle:hover {
    cursor: pointer;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}
.footer_icon_atag {
    text-decoration: none;
    color: black;
    /* filter: grayscale(100%); */
}
.socialmediacontainer {
    display: flex;
    height: fit-content;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    overflow: visible;
}
/* .atag_icon {
    filter: grayscale(100%);
}
.atag_icon:hover {
    filter: grayscale(0%); 
} */
/* Footer ends here */

/* animation  */


/* .stories {
    position: relative;
    animation: moveUp 2s ease-in-out forwards;
} */
.stories , .slide , .contact_us , .why_choose_us {
    opacity: 0;
    transform: translateY(100px);
    transition: all 2s ease;
}
.stories.show , .contact_us.show , .why_choose_us.show , .slide.show {
    opacity: 1;
    transform: translateY(0);
}
.wcus_image_container , .contact4_1 , .details_cont_about {
    opacity: 0;
    transform: translateX(100px);
    transition: all 2s ease;
}
.wcus_points_container , .contact4_2 ,.img_cont_about {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 2s ease;
}

.wcus_image_container.show , .contact4_1.show ,.img_cont_about.show {
    opacity: 1;
    transform: translateX(0);

}
.wcus_points_container.show , .contact4_2.show , .details_cont_about.show {
    opacity: 1;
    transform: translateX(0);
}


/* .slide {
    opacity: 0;
    transform: translateY(100px);
    transition: all 2s ease;
} */
/* .slide.show {
    opacity: 1;
    transform: translateY(0);
} */
/* .contact_us {
    opacity: 0;
    transform: translateY(100px);
    transition: all 2s ease;
} */
/* .contact_us.show {
    opacity: 1;
    transform: translateY(0);
} */
/* .why_choose_us {
    opacity: 0;
    transform: translateY(100px);
    transition: all 2s ease;
} */
/* .why_choose_us.show {
    opacity: 1;
    transform: translateY(0);
} */
/* @keyframes moveUp {
    from {
      top: 200px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  } */